<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.BookCommentMapper">

	<select id="getBoardComment" resultType ="kr.green.springwebproject.dao.BookCommentMapper">
	select * from 
	boardcomment
	where
	bno = #{board.number}
	</select>


	<insert id="insertBoardComment">
	insert
	into boardcomment
	(bno, cnotent, writer)
	values
	(#{board.number},#{boardcomment.content},#{boardcomment.writer})
	
	
	</insert>
	
	
	<delete id="deleteBoardComment">
	delete from boardcomment
	where cno = #{boardcomment.cno}
	
	</delete>
	
	<update id="modifyBoardComment">
	update boardcomment
	set
	 content = #{boardcomment.content}
	 
	 where cno = #{boardcomment.cno}
	</update>
</mapper>