<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.BoardCommentMapper">

	<select id="getBoardComment" resultType ="kr.green.springwebproject.dao.BoardComment">
	select * from 
	boardComment
	where
	bno = #{board.number}
	</select>


	<insert id="insertBoardComment">
	insert
	into boardComment
	(bno, content, writer)
	values
	(#{board.number},#{boardComment.content},#{boardComment.writer})
	
	
	</insert>
	
	
	<delete id="deleteBoardComment">
	delete from boardComment
	where cno = #{boardComment.cno}
	
	</delete>
	
	<update id="modifyBoardComment">
	update boardComment
	set
	 content = #{boardComment.content}
	 
	 where cno = #{boardComment.cno}
	</update>
	
	
	<select id="commentCount" resultType="java.lang.Integer">
	select count(*)
	from boardComment
	where
	bno = #{board.number}
	
	</select> 
</mapper>