<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.BoardMapper">
    <select id="getBoard" 
    resultType="kr.green.springwebproject.dao.Board">
		select * from board 
		
		order by number desc
	</select>
	<select id="getBoardByNumber"
	resultType="kr.green.springwebproject.dao.Board">
		select * from board where number = #{number}
	</select>
	<update id="modifyBoard">
		update 
			board 
		set 
			title = #{board.title},
		 	author = #{board.author},
		 	contents = #{board.contents},
		 	created_date = #{board.created_date},
		 	filepath = #{board.filepath}
	 	where
	 		number = #{board.number}
	</update>
	<insert id="insertBoard">
		insert into 
		board(title,author,contents,filepath)
		values(#{board.title},#{board.author}
		,#{board.contents},#{board.filepath})
	</insert>
	<select id="getListPage" 
		resultType="kr.green.springwebproject.dao.Board">
		select 
			*
		from 
			board
		
		order by number desc
		<!-- limit
			#{cri.pageStart},#{cri.perPageNum} -->
	</select>
	<select id="getCountBoard" resultType="java.lang.Integer">
		select
			count(number)
		from
			board
		
	</select>
	<select id="getListPageByTitle" 
		resultType="kr.green.springwebproject.dao.Board">
		select 
			*
		from 
			board
		where 
		
			title like #{search}
			 
		order by number desc
		<!--  limit
			#{cri.pageStart},#{cri.perPageNum}-->
	</select>
	<select id="getCountBoardByTitle" resultType="java.lang.Integer">
		select
			count(number)
		from
			board
		where 
		 
			title like #{search}
	</select>
	<select id="getListPageByAuthor" 
		resultType="kr.green.springwebproject.dao.Board">
		select 
			*
		from 
			board
		where 
			
			author like #{search}
		order by number desc
		<!--  limit
			#{cri.pageStart},#{cri.perPageNum}-->
	</select>
	<select id="getCountBoardByAuthor" resultType="java.lang.Integer">
		select
			count(number)
		from
			board
		where 
			
			author like #{search}
			
	</select>
	<select id="getListPageByContents" 
		resultType="kr.green.springwebproject.dao.Board">
		select	*
		from 	board
		where 	 
				contents like #{search}
		order 	by number desc
		<!--  limit	#{cri.pageStart},#{cri.perPageNum}-->
	</select>
	<select id="getCountBoardByContents" resultType="java.lang.Integer">
		select	count(number)
		from	board
		where	 	contents like #{search}
	</select>

	<select id="getBoardAll" 
    resultType="kr.green.springwebproject.dao.Board">
		select * from board order by number desc
	</select>
	<select id="getListPageByAdmin" 
		resultType="kr.green.springwebproject.dao.Board">
		select 
			*
		from 
			board
		order by number desc
		<!--  limit
			#{cri.pageStart},#{cri.perPageNum}-->
	</select>
	<select id="getCountBoardByAdmin" resultType="java.lang.Integer">
		select
			count(number)
		from
			board
	</select>
	<select id="getMyBoards" 
		resultType="kr.green.springwebproject.dao.Board">
		select *
			from board
			where author = #{author} 
			order by number desc
			<!--  limit #{cri.pageStart}, #{cri.perPageNum}-->
	</select>
	<select id="getCountMyBoards" resultType="java.lang.Integer">
		select count(number)
			from board
			where author = #{author}
	</select>
	<delete id="deleteBoard">
		delete from board 
			where number = #{board.number}
	</delete>
	
	
	<!-- 로그용 -->
	
	<select id="getBoardLog" resultType="kr.green.springwebproject.dao.Board">
	select * from boardlog
	order by number desc
	</select>
	
	
	<select id="searchBoards" resultType="kr.green.springwebproject.dao.Board">
		select * from board
	
			
		order by number desc
		limit
			#{cri.pageStart},#{cri.perPageNum}
	</select>
	
			<update id="boardHits" >
	update 
			board 
		set  
			hits = hits+1
		
	 		where number = #{board.number}
	</update>
	


<!-- rec -->


<update id="recBoard" >
	update 
			board 
		set  
			recomand = recomand+1
			 		where number = #{board.number}

	</update>
	
	<update id="notrecBoard" >
	update 
			board 
		set  
			notrecomand = notrecomand+1
			 		where number = #{board.number}

	</update>

<update id="boardMainReview">
	update board 
	set review = (
	select count(bno)
	from boardcomment
	where board.number = boardcomment.bno
	group by bno);
	
</update>


<!-- 메인 검색 -->
<select id="LM_Board" resultType="kr.green.springwebproject.dao.Board">
select * from board
where 1 = 1
	
	<if test="type==0">
				 and title like #{search}
			</if>
			<if test="type==1">
				 and author like #{search}
			</if>
			<if test="type==2">
				 and contents like #{search}
			</if>
</select>
</mapper>



