<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.LibraryInfoMapper">
	<select id="getLibraryInfo" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	order by number desc
	</select>


<select id="getLibraryInfoByNumber" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	order by number desc
	</select>
</mapper>