<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.LibraryInfoMapper">
	<select id="getLibraryInfo" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	
	order by number desc
	

	</select>


<select id="getLibraryInfoByNumber" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	order by number desc
	</select>
	
	<select id="getDetailLibraryInfoByNumber" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	where number = #{number}
	order by number desc
	</select>
	
	<insert id="insertLibraryInfo">
	insert into libraryinfo
	(libraryName, cityName, libraryType, holiday, 
	openSeat, bookCount, bookCount2, bookCount3, 
	loadAddress, operation, phoneNumber, homepage,
	author, filepath,latitude, longitude)
	values
	(#{libraryInfo.libraryName},#{libraryInfo.cityName},#{libraryInfo.libraryType},#{libraryInfo.holiday},
	#{libraryInfo.openSeat},#{libraryInfo.bookCount},#{libraryInfo.bookCount2},#{libraryInfo.bookCount3},
	#{libraryInfo.loadAddress},#{libraryInfo.operation},#{libraryInfo.phoneNumber},#{libraryInfo.homepage}
	,#{libraryInfo.author},#{libraryInfo.filepath},#{libraryInfo.latitude},#{libraryInfo.longitude})
	
	</insert>
	
	<update id="modifyLibraryInfo">
		update 
			libraryinfo 
		set 
			libraryName = #{libraryInfo.libraryName},
			cityName = #{libraryInfo.cityName},
			libraryType= #{libraryInfo.libraryType},
			holiday = #{libraryInfo.holiday},
			openSeat= #{libraryInfo.openSeat},
			bookCount= #{libraryInfo.bookCount},
			bookCount2= #{libraryInfo.bookCount2},
			bookCount3 = #{libraryInfo.bookCount3},
			loadAddress= #{libraryInfo.loadAddress},
			operation= #{libraryInfo.operation},
			phoneNumber= #{libraryInfo.phoneNumber},
			homepage= #{libraryInfo.homepage},
			filepath= #{libraryInfo.filepath},
			latitude= #{libraryInfo.latitude},
			longtitude = #{libraryInfo.longtitude}
		
	 	where
	 		number = #{libraryInfo.number}
	</update>
	<delete id="deleteLibraryInfo">
		delete from libraryinfo
			where number =#{libraryInfo.number}
	
	</delete>
	
	<!-- 로그용 -->
	
	<select id="getLibraryInfoLog" resultType="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfolog
	order by number desc
	</select>
	<!-- 최신글 용 -->
	
	<select id="getCountLibraryInfo" resultType="java.lang.Integer">
		select
			count(number)
		from
			libraryInfo
		
	</select>
	
	
	
	<select id="searchLibraryInfos" resultType="kr.green.springwebproject.dao.LibraryInfo">
		select * from libraryInfo
	
			
		order by number desc
		limit
			#{cri.pageStart},#{cri.perPageNum}
	</select>
	
	<!-- 좌표용 -->
	
	<select id="getCoordinate" resultType="kr.green.springwebproject.dao.LibraryInfo">
	select latitude, longitude from libraryInfo
		where number = #{number}
	</select>
	
	
	
	<!-- serverside -->
	<select id="SSgetLibraryInfo" resultType="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryInfo
	limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="countLibrary" resultType="java.lang.Integer">
		select
			count(number)
		from
			libraryInfo
		
	</select>
	
	<update id="recLibraryInf" >
	update 
			libraryinfo 
		set  
			recomand = recomand+1
			where
	 		number = #{libraryInfo.number}
	</update>
	
	<update id="notrecLibraryInf" >
	update 
			libraryinfo 
		set  
			notrecomand = notrecomand+1
			where
	 		number = #{libraryInfo.number}
	</update>
	
	
	<!-- 도서관 댓글 -->
	<select id="getCommentByCno" resultType="kr.green.springwebproject.dao.LibraryInfo">
	select * from comment
	where
	bno = #{bno}
	
	</select>
	
	<insert id="insertComment">
	insert into comment
	(bno,content,writer)
	values
	(#{libraryInfo.number},#{libraryInfo.content},#{libraryInfo.writer})

	</insert>
	
	
	<select id="getCountComment" resultType="java.lang.Integer">
		select
			count(cno)
		from
			comment
		
	</select>
	
	
	
	<select id="searchComment" resultType="kr.green.springwebproject.dao.LibraryInfo">
		select * from comment
	
			
		order by cno desc
		limit
			#{cri.pageStart},#{cri.perPageNum}
	</select>
	
	
<!-- 조회수 -->


<update id="libraryInfoHits" >
	update 
			libraryinfo 
		set  
			hits = hits+1
			where
	 		number = #{libraryInfo.number}
	</update>
</mapper>