<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.LibraryInfoMapper">
	<select id="getLibraryInfo" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	
	order by number desc
	
	limit 10
	</select>


<select id="getLibraryInfoByNumber" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	order by number desc
	</select>
	
	<select id="getDetailLibraryInfoByNumber" resultType ="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfo
	where number = #{number}
	order by number desc
	</select>
	
	<insert id="insertLibraryInfo">
	insert into libraryinfo
	(libraryName, cityName, libraryType, holiday, 
	openSeat, bookCount, bookCount2, bookCount3, 
	loadAddress, operation, phoneNumber, homepage,
	author)
	values
	(#{libraryInfo.libraryName},#{libraryInfo.cityName},#{libraryInfo.libraryType},#{libraryInfo.holiday},
	#{libraryInfo.openSeat},#{libraryInfo.bookCount},#{libraryInfo.bookCount2},#{libraryInfo.bookCount3},
	#{libraryInfo.loadAddress},#{libraryInfo.operation},#{libraryInfo.phoneNumber},#{libraryInfo.homepage}
	,#{libraryInfo.author})
	
	</insert>
	
	<update id="modifyLibraryInfo">
		update 
			libraryinfo 
		set 
			libraryName = #{libraryInfo.libraryName},
			cityName = #{libraryInfo.cityName},
			libraryType= #{libraryInfo.libraryType},
			holiday = #{libraryInfo.holiday},
			openSeat= #{libraryInfo.openSeat},
			bookCount= #{libraryInfo.bookCount},
			bookCount2= #{libraryInfo.bookCount2},
			bookCount3 = #{libraryInfo.bookCount3},
			loadAddress= #{libraryInfo.loadAddress},
			operation= #{libraryInfo.operation},
			phoneNumber= #{libraryInfo.phoneNumber},
			homepage= #{libraryInfo.homepage}
		
	 	where
	 		number = #{libraryInfo.number}
	</update>
	<delete id="deleteLibraryInfo">
		delete from libraryinfo
			where number =#{libraryInfo.number}
	
	</delete>
	
	<!-- 로그용 -->
	
	<select id="getLibraryInfoLog" resultType="kr.green.springwebproject.dao.LibraryInfo">
	select * from libraryinfolog
	order by number desc
	</select>
	<!-- 최신글 용 -->
	
	<select id="getCountLibraryInfo" resultType="java.lang.Integer">
		select
			count(number)
		from
			libraryInfo
		
	</select>
	
	
	
	<select id="searchLibraryInfos" resultType="kr.green.springwebproject.dao.LibraryInfo">
		select * from libraryInfo
	
			
		order by number desc
		limit
			#{cri.pageStart},#{cri.perPageNum}
	</select>
	
</mapper>