<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.RecBookMapper">
	<select id="getRecBookListByNumber" resultType="kr.green.springwebproject.dao.RecBook">
	select * from recBook
	
	</select>

	<insert id="insertRecBook">
	insert into recBook
	(bookName, bookType, bookStory, writer, author, filepath)
	values
	(#{recBook.bookName}, #{recBook.bookType},#{recBook.bookStory},#{recBook.writer},#{recBook.author},#{recBook.filepath})
	
	</insert>
	<select id="getDetailRecBookByNumber" resultType="kr.green.springwebproject.dao.RecBook">
	select * from recBook
	where recBookNumber = #{recBookNumber}
	
	</select>
	<update id="modifyRecBook">
	update 
		recbook
	set
		bookName = #{recBook.bookName},
		bookType = #{recBook.bookType},
		bookStory = #{recBook.bookStory},
		writer = # {recBook.writer},
		filepath = #{recBook.filepath}
	
		where recBookNumber = #{recBook.recBookNumber}
	</update>
	<delete id="deleteRecBook">
	delete from recbook
		
		where recBookNumber = #{recBook.recBookNumber}
	</delete>
	
	
	<!-- 로그용 -->
	
	<select id="getRecBookLog" resultType="kr.green.springwebproject.dao.RecBook">
	select * from recbooklog
	order by recBookNumber desc
	</select>
	
	
	<!-- 최신글용 -->
	
	<select id="getCountRecBook" resultType="java.lang.Integer">
		select
			count(recBookNumber)
		from
			recbook
		
	</select>
	
	
	
	<select id="searchRecBooks" resultType="kr.green.springwebproject.dao.RecBook">
		select * from recbook
		
			
		order by recBookNumber desc
		limit
			#{cri.pageStart},#{cri.perPageNum}
	</select>
	
	<update id="recBookHits" >
	update 
			recbook 
		set  
			hits = hits+1
			
	 		where recBookNumber = #{recBook.recBookNumber}
	</update>
	
	
</mapper>