<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springwebproject.dao.RecBookReviewMapper">



<select id="getReview" resultType="kr.green.springwebproject.dao.RecBookReview">
	SELECT * 
	from recbookreview 
	where
	bno = #{recBook.recBookNumber}	
	</select>
	
	<insert id="insertReview">
	insert 
	into recbookreview
	(bno, content, writer)
	values
	(#{recBook.recBookNumber},#{recbookreview.content},#{recbookreview.writer})
	
	</insert>
	

	
	<delete id="deleteReview">
	delete from recbookreview
	where recviewnumber = #{recbookreview.recviewnumber}
	</delete>
	
	
<update id="modifyReview">
	update
		recBookreview
	set
		content = #{recbookreview.content},
		reg_date = #{recbookreview.reg_date}
		
		where recviewnumber = #{recbookreview.recviewnumber}

	</update>

</mapper>